gensim
scipy
pandas
matplotlib
ipykernel
ipywidgets
catboost
razdel
nltk
seaborn
pandarallel
tqdm
pymorphy3
scikit-learn
black[jupyter]
pyod
statsmodels
shap
umap
umap-learn
torch
torchvision
fastai
torchmetrics